<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.11.3

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
db = client.test
collection = db.people
collection.drop()

Create a new database:

In [5]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [6]:
for db in client.list_databases():
    print(db)

{'name': 'admin', 'sizeOnDisk': 65536.0, 'empty': False}
{'name': 'config', 'sizeOnDisk': 36864.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 73728.0, 'empty': False}
{'name': 'mydatabase', 'sizeOnDisk': 73728.0, 'empty': False}

- check for the database by name:

In [7]:
client.list_database_names()

['admin', 'config', 'local', 'mydatabase']

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [26]:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [27]:
person = { "name": "John", "address": "Highway 37" }

#insert a document to the collection
x = mycol.insert_one(person)

Now test for the existence of the database:

In [28]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [30]:
mydb.list_collection_names()

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [31]:
person = { "name": "Peter", "address": "Lowstreet 27" }

#insert a document to the collection
x = mycol.insert_one(person)

In [32]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [33]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)

In [34]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}

Print a list of the _id values of the inserted documents:

In [35]:
for x in mycol.find():
  print(x['_id'])

60254baed87b1c8c84cc0e9a
60254bb2d87b1c8c84cc0e9b
60254bb5d87b1c8c84cc0e9c
60254bb5d87b1c8c84cc0e9d
60254bb5d87b1c8c84cc0e9e
60254bb5d87b1c8c84cc0e9f
60254bb5d87b1c8c84cc0ea0
60254bb5d87b1c8c84cc0ea1
60254bb5d87b1c8c84cc0ea2
60254bb5d87b1c8c84cc0ea3
60254bb5d87b1c8c84cc0ea4
60254bb5d87b1c8c84cc0ea5
60254bb5d87b1c8c84cc0ea6
60254bb5d87b1c8c84cc0ea7

Execute the next cell to insert a list of dicts with specified `_id`s:

In [36]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [37]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now try inserting a new dict with an existing `_id`:

In [38]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 14}, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }'}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [39]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [40]:
x=mycol.find_one({"name":"Hannah"})
print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0e9d'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [41]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [42]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [43]:
for x in mycol.find({},{ "_id": 1, "name": 1}):
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9d'), 'name': 'Hannah'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea0'), 'name': 'Betty'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea2'), 'name': 'Susan'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [44]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [45]:
myquery = { "address": { "$gt": "V" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [46]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [47]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery).sort('name')
for x in mydoc:
  print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [48]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
mydoc.sort('name',-1)
for x in mydoc:
  print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}

A single record can be deleted by specifying some criterion:

In [49]:
mycol.delete_one({ "address": "Mountain 21" })

In [50]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Now delete all docs with the 2-digit `Id` values:

In [51]:
myquery = { "_id": {"$gte": 10} }

x = mycol.delete_many(myquery)

In [52]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [49]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6023ddf0fb19f0e1a949da36'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6023ddf3fb19f0e1a949da37'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da38'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da3a'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da3b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da3c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da3d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da3e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da3f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da40'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da41'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da42'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6023ddf9fb19f0e1a949da43'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [53]:
for x in mycol.find().limit(5):
  print(x)

{'_id': ObjectId('60254baed87b1c8c84cc0e9a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60254bb2d87b1c8c84cc0e9b'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0e9f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [54]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [55]:
db = client.test
# Drop the collection in case it was previously created:
collection = db.people
collection.drop()

In [53]:
os.chdir("dat")

In [54]:
pwd()

'C:\\Users\\ryan\\Downloads\\dat'

In [55]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people dummyData.json')

0

In [56]:
os.chdir("..")

In [57]:
pwd()

'C:\\Users\\ryan\\Downloads'

In [58]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('6023de331775753b20d1c32a'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('6023de331775753b20d1c2e2'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('6023de331775753b20d1c30b'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [59]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [60]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,6023de331775753b20d1c2f6,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,6023de331775753b20d1c31d,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,6023de331775753b20d1c32e,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,6023de331775753b20d1c339,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [61]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version 0.12.1

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

In [12]:
x = mycol.insert_one({ "name": "John", "address": "Highway 37" })

In [61]:
x = mycol.aggregate([
    {"$group" : { "_id": "$name", "count": { "$sum": 1 } } },
    {"$match": {"_id" :{ "$ne" : None } , "count" : {"$gt": 1} } }, 
    {"$project": {"name" : "$_id", "_id" : 0} }
])
name_dict = list(x)

list

In [57]:
name_list = []
for doc in name_dict:
    name_list.append(doc['name'])
name_list

['Michael', 'Richard', 'Betty', 'Susan', 'Sandy', 'Peter', 'Amy', 'John']

In [60]:
mycol.delete_one({ "address": "Mountain 21" })

for name in name_list:
    mycol.delete_one({"name":name})

for x in mycol.find():
    print(x)

{'_id': ObjectId('60254bb5d87b1c8c84cc0ea3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60254bb5d87b1c8c84cc0ea7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

In [62]:
mycol.create_index([("name",1),("address",1)])

'name_1_address_1'

In [63]:
mycol.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)]},
 'name_1_address_1': {'v': 2, 'key': [('name', 1), ('address', 1)]}}



> 
>
>



---



---



> > > > > > > > > © 2021 Institute of Data


---



---